* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    width: 80%;
    max-width: 1280px;
    margin: 0 auto;
}

.header,
#slider {
    background-color: #eeeeee;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0 21px;
}

.burger_label, #burger {
    display: none;
}

.button {
    text-decoration: none;
    border-radius: 4px;
    color: white;
    background-color: #ff6666;
    width: max-content;
    text-transform: uppercase;
}

.button:hover {
    opacity: 0.8;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    margin: 0 23px;
}

 .menu-link:hover {
    color: #ff6666;
}

.header-content .cart img {
    margin-right: 25px;
}

.header-content .cart {
    margin-left: 220px;
}

#menu_check {
    display: none;
}

.slider {
    min-height: 400px;
    position: relative;
}

.slider-indicators {
    position: absolute;
    display: flex;
    top: 80%;
    left: 53%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.slider-indicators .indicator {
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background-color: white;
    margin: 0 16px;
    cursor: pointer;
}

.slider-content {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.slider-content-text {
    max-width: 400px;
    margin-top: 62px;
    text-align: left;
    z-index: 2;
}

.slider-content-text h2 {
    font-size: 3.4375em;
    margin-bottom: 30px;
}

.slider-content-text p {
    margin-bottom: 45px;
}

.slider-content-image {
    margin-right: 50px;
}

.slider-button {
    padding: 20px 50px;
}

.services {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 80px 0;
    border-bottom: 3px solid #eeeeee;
}

.services-content {
    width: 300px;
    margin: 30px 10px;
}

.services-content_image {
    min-height: 145px;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.services-content_text {
    text-align: left;
    margin-bottom: 38px;
}

.services-content_text h2 {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

.services-content-button {
    padding: 20px 40px;
}

.block1 .services-content_image,
.block1 .services-content-button {
    background-color: #ff6666;
}

.block2 .services-content_image,
.block2 .services-content-button {
    background-color: #00cc66;
}

.block3 .services-content_image,
.block3 .services-content-button {
    background-color: #ffcc33;
}

.about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px 0 80px;
    border-bottom: 3px solid #eeeeee;
}

.about-content_block-image {
    margin-bottom: 40px;
}

.about-content_block {
    width: 50%;
    margin: 20px 0;
}

.about-content_block h2 {
    font-size: 2.81em;
    margin-bottom: 40px;
}

.about-content_block .orders {
    margin-top: 14px;
    line-height: 40px;
}

.about-content_block .orders h3 {
    font-weight: bold;
}

.about-content_block .line_orders {
    color: red;
    font-size: 1.25em;
}

.about-content_block-image {
    text-align: right;
    width: 100%;
}

.about-content-numbers {
    max-width: 370px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 25px;
    margin-left: auto;
}

.about-content-numbers .names {
    grid-column-start: 1;
    grid-column-end: 4;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.about-content-numbers .number p {
    font-weight: bold;
    font-size: 2.81em;
    text-transform: uppercase;
}

.about-content-numbers .number p:after {
    content: "\0025";
    font-size: 50%;
    vertical-align: top;
}

.customers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 24px 0;
    border-bottom: 3px solid #eeeeee;
}

.customers .logo {
    margin: 20px 20px;
}

.contacts {
    margin-top: 78px;
    position: relative;
}

.contacts iframe {
    width: 100%;
    height: 450px;
    border: none;
}

.contacts_form {
    padding: 50px 50px 70px;
    background-color: white;
    position: absolute;
    top: 10%;
    left: 15%;
}

.contacts_form-text {
    margin-bottom: 20px;
    max-width: 208px;
}

.contacts_form h2 {
    font-weight: bold;
    font-size: 1.12em;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.contacts_form p {
    color: #666666;
}

.contacts_form-number {
    margin-bottom: 50px;
}

.contacts_form-number a[href^="tel:"] {
    text-decoration: none;
    color: #666666;
}

.contacts_form-number a[href^="tel:"]:hover {
    color: #ff6666;
}

.contacts_form_button {
    padding: 20px 44px;
}

.footer {
    padding: 70px 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;

}

.footer .icons {
    display: flex;
    align-items: center;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #e1e1e1;
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon img {
    padding: 40px;
}

.vk-icon:hover {
    background-color: #597da3;
}

.fb-icon:hover {
    background-color: #3b5998;
}

.insta-icon:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0 3px 10px rgba(0, 0, 0, .25);
}

.footer-text {
    margin-left: 140px;
}

.footer-text h2 {
    font-size: 2.25em;
    font-weight: bold;
    margin-bottom: 20px;
}

